@{
    ViewData["Title"] = "About us";
}
<div class="text-center">
    <h1 class="display-4">Our Moto</h1>
    <p>
        Our moto is to help people around the world relax with ease and fall asleep faster whenever they wish.<br>
        The science is clear that insomnia and anxiety are only getting worse. If we can help mitigate that with our own simple products, then we've succeeded.
    </p>
</div>

<div class="text-center">
    <h2 style="text-align:'center'">Dipen Prajapati</h2>
    <h3>Founder</h3>
    <p>
        <b>Dipen's</b> experience working in a summer camp for special needs children lead him to discovering weighted blankets and the effectiveness on the children. Years later,
        he found his calling and decided to use his background in marketing to promote weighted blankets to the world.
    </p>
</div>

