@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
    <style>
        .center1 {
            display: block;
            margin: 0 auto;
            min-width: 960px;
            background-color:lightgray;
            font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
        img{
            display:block;
            margin: 0 auto;
            
        }
        p{
            border: 1px solid gray;
            padding: 5px;
        }
    </style>
</head>
</html>
<div class="text-center center1">
    <h1 class="display-4">Welcome</h1>

    <img src="~/img/blanket1.jpeg" width="300" alt="blanket1" /><br />
    <p>MATERIAL & FILLING: Queen comforter measures 90" x 90". This reversible comforter is made of microfiber plush and brushed microfiber double shell, extremely plush, soft and pleasant to the touch. The 300gsm microfiber padding perfectly controls the temperature, keeping you warm in winter and cool in summer. Unique seams to prevent the filling from shifting.</p>
    <img src="~/img/banket2.jpeg" width="300" alt="blanket2" /><br />
    <p>100% Satisfaction Guarantee: Buy without hesitation, because you have a 60-day money back guarantee if you are not satisfied for any reason, Balichhun puts our customers first and always aim to provide the service bravest customer as well as the best quality products.</p>
    <img src="~/img/blanket3.jpeg" width="300" alt="blanket3" />
    <br />
    <p>Care instructions: Machine washable on gentle cycle with cold water. Hang or tumble dry low, which is convenient and time-saving.</p>

</div>
