@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img src="~/img/blanket1.jpg" width="200" alt="blanket1" />
    <img src="~/img/blanket2.jpg" width="200" alt="blanket2" />
    <img src="~/img/blanket3.jpg" width="200" alt="blanket3" />
    <br />
    <p></p>

</div>
